div#container{
    display: grid;
    grid-template-areas: 
    "top top"
    "left right"
    "bottom bottom";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
}

header{
    grid-area: top;
    background-color: rgb(72, 119, 2);
    color: aliceblue;
}

main{
    grid-area: right;
}

nav{
    grid-area: left;
    background-color: aquamarine;
}

footer{
    grid-area: bottom;
    background-color: green;
    color: aliceblue;
}

@media screen and(max-width: 600px){
    div#container{
        grid-template-areas: 
        "top"
        "right"
        "left"
        "bottom";
        grid-template-columns: 1fr;
    }    
}

